<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TV Event Planner</title>
</head>
<body>
    
    <div class="container">

        <div class="header">
            <h1>Got GOT?</h1>
            <div class="navbar">
                <p><a href="/party">Dashboard</a> | <a href="/party/shows">Upcoming Shows</a></p>
            </div>
        </div>

        <div class="content">
            <h2>All Upcoming Shows</h2>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Location</th>
                    <th>When</th>
                    <th>Action</th>
                </thead>
                __for event in all_events_html__ 
                    <tr>
                        <td>__event.show_name</td> 
                        <td>__event.host.first_name__'s House</td>
                        <td>__event.date__</td>
                        <td><a href="/event/__event.id__">View</a></td>
                    </tr>
                __endfor__
            </table>
        </div>

    </div>

</body>
</html>