<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wall Assignment</title>
</head>
<body>
    
    <div class="container">

        <div class="banner">
            <h1>CodingDojo Wall</h1>
            <div class="user-info">
                <p>Welcome, {{ user_html.first_name }}</p>
                <a href="/logout">log off</a>
            </div>
        </div>

        <div class="content">
            <form action="/wall/message/send" method="post">
                {% csrf_token %}
                <p>Post a message</p>
                <textarea name="msg" id="msg-write" cols="30" rows="8"></textarea>
                <button type="submit">Post</button>
            </form>
            {% for message in all_messages_html %}
                <p class="sender">message.sender - message.created_at</p>
                <p class="msg-read">{{ message }}</p>
                {% for comment in message.comments %}
                    <p class="sender">{{ comment.user.first_name }} {{ comment.user.last_name }} - {{comment.created_at}}</p>
                    <p class="comment-read">{{ comment }}</p>
                {% endfor %}
                <form action="/wall/comment/send" method="post">
                    {% csrf_token %}
                    <p>Post a comment</p>
                    <textarea name="comment" id="comment-write" cols="30" rows="4"></textarea>
                    <input type="hidden" name="{{ message.id }}">
                    <button type="submit">Post comment</button>
                </form>
            {% endfor %}

            
            
        </div>

    </div>

</body>
</html>