<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Read (One)</title>
</head>
<body>
    
    <div class="container">

        <div class="header">
            <h1>TV Show {{show_html.id}}</h1>
            <a href="/shows">Go Back</a>
        </div>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
                    {{message}}
                </li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="content">
            <p>Title: {{show_html.title}}</p>
            <p>Network: {{show_html.network}}</p>
            <p>Release Date: {{release_date_html}}</p>
            <p>Description: {{show_html.desc}}</p>
        </div>

        <div class="footer">
            <p>Last Updated: {{new_show_html.updated_at}}</p>
            <p><a href="/shows/{{show_html.id}}/edit">Edit</a> | <a href="/shows/{{show_html.id}}/delete">Delete</a></p>
        </div>

    </div>

</body>
</html>