<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Read (One)</title>
</head>
<body>
    
    <div class="container">

        <div class="header">
            <h1>TV Show {{show_id_html}}</h1>
            <a href="/shows">Go Back</a>
        </div>

        <div class="content">
            <p>Title: {{}}</p>
            <p>Network: {{}}</p>
            <p>Release Date: {{}}</p>
            <p>Description: {{}}</p>
        </div>

        <div class="footer">
            <p>Last Updated: {{}}</p>
            <p><a href="/shows/{{}}/edit">Edit</a> | <a href="/shows/{{}}/delete">Delete</a></p>
        </div>

    </div>

</body>
</html>